<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Juicifers Kitchen</title>
  <link rel="stylesheet" href="css/juicifer.css">
  <script src="/vue/vue.js" defer></script>
  <script src="/socket.io/socket.io.js" defer></script>
  <script src="js/juicifer-main.js" defer></script>
  <script src="js/kitchen.js" defer></script>
    <!-- 
<link href="noUiSlider-master/distribute/nouislider.min.css" rel="stylesheet">

 
<script src="noUiSlider-master/distribute/nouislider.min.js" defer></script> -->
</head>
<body>
  <div id="orders">

      <button v-on:click="switchLang()">{{ uiLabels.language }}</button>
          <button v-on:click="showWaitingForOrderPage()"> Waiting for order </button> 
          <button v-on:click="showPreviousOrders()"> &#8592; Previous orders </button>
          <button v-on:click="showOrderToPrepare()"> Next order to prepare &#8629; </button>
          <button v-on:click="showWaitingOrders()" > Waiting orders &#8594;</button>
      

      <div> Number of orders in queue: {{ countOrders() }}</div>


      <div v-if="waitingForOrder" >
        <header>Waiting for a juicy Order</header>
    </div>


    <div v-if="showListofWaitingOrders" >

        <h1>{{ uiLabels.ordersInQueue }}</h1>

        <div>
            <order-item-to-prepare
            v-for="(order, key) in orders"
            v-if="!order.done"
            v-on:done="markDone(key)"
            v-on:cancel="sendCancel(key)"
            :order-id="key"
            :order="order"
            :ui-labels="uiLabels"
            :lang="lang"
            :key="key"
                       >
            </order-item-to-prepare>
        </div>


    </div>
    <div v-if="showListOfPreviousOrders" >
        List of previous orders
        <h1>{{ uiLabels.ordersFinished }}</h1>
   
        <div>
            <order-item
            v-for="(order, key) in orders"
            v-if="order.done"
            :order-id="key"
            :order="order"
            :lang="lang"
            :ui-labels="uiLabels"
            :key="key">
            </order-item>
        </div>

    </div>

      <div v-if="showNextOrder && countOrders()!=0" >

       nästa order: {{ nextOrderToPrepare().orderId }}

          <ul>
              
          <li v-for="ingr in nextOrderToPrepare().order.ingredients" >
        
              
          {{ingr.ingredient_en}} 

              </li>
          </ul>
          <button v-on:click="markDone(nextOrderToPrepare().orderId)">
            {{uiLabels.ready}}
          </button>
          <button v-on:click="sendCancel(nextOrderToPrepare().orderId)">
            {{uiLabels.cancel}}
          </button>
          

    </div>
    <!--  <div id=slider-color> Här ska slider in</div> -->

  </div>
</body>
</html>
