<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link href="https://fonts.googleapis.com/css?family=Cabin+Sketch" rel="stylesheet">
    <title>Juicifers Kitchen</title>
    <link href="css/nouislider.min.css" rel="stylesheet">
    <script src="js/nouislider.min.js" defer></script>
    <link rel="stylesheet" href="css/juicifer.css">
    <script src="/vue/vue.js" defer></script>
    <script src="/socket.io/socket.io.js" defer></script>
    <script src="js/juicifer-main.js" defer></script>
    <script src="js/kitchen.js" defer></script>



</head>

<body>


    <div id="orders">

        <div>
            <button v-on:click="switchLang()">{{ uiLabels.language }}</button>
            <span> {{uiLabels.ordersInQueue}}: {{ countOrders() }}</span>
        </div>

        <div v-show="showStart && isAtStart">

            <h1 v-if="countOrders() === 0">{{ uiLabels.waitingFor }}</h1>
            <h1 v-if="countOrders() > 0">{{ uiLabels.juiceWaiting }}</h1>

            <div class="kitchenNavbar">
                <span>&larr; <p>{{ uiLabels.ordersFinished }}</p></span>
                <span class="inactive">Esc:  </span>
                <span :class="{ inactive: countOrders()===0 }">Enter: <p v-if="countOrders()>0"> {{ uiLabels.goToOrder }}</p></span>
                <span>&rarr;<p>{{ uiLabels.ordersInQueue }}</p></span>
            </div>

        </div>


        <div v-show="isAtWaiting && showListOfWaitingOrders">

            <h1>{{ uiLabels.ordersInQueue }}</h1>

            <table>
                <thead>
                    <tr>
                        <th> Order nr</th>
                        <th> {{uiLabels.size}}</th>
                        <th> {{uiLabels.ingredients}}</th>
                    </tr>
                </thead>
                <tbody>

                    <tr is="order-list-item" ref="waitingorder" v-for="order in waitingOrders" v-on:done="markDone(order.nr)" v-on:cancel="sendCancel(order.nr)" :order-id="order.nr" :order="order" :ui-labels="uiLabels" :lang="lang" :key="order.nr">
                    </tr>

                </tbody>

            </table>

            <div class="kitchenNavbar">
                <span>&larr; <p>{{ uiLabels.goBack }}</p></span>
                <span>Esc: <p>{{uiLabels.goBack}}</p> </span>
                <span>Enter: <p> {{ uiLabels.goToOrder }}</p></span>
                <span class="inactive">&rarr;</span>
            </div>

        </div>

        <div v-show="showListOfPreviousOrders && isAtPrevious">

            <h1>{{ uiLabels.ordersFinished }}</h1>

            <table>
                <thead>
                    <tr>
                        <th> Order nr</th>
                        <th> {{uiLabels.size}}</th>
                        <th> {{uiLabels.ingredients}}</th>

                    </tr>
                </thead>
                <tbody>
                    <tr is="order-list-item" ref="prevorder" v-for="order in previousOrders" v-on:cancel="sendCancel(order.nr)" :order-id="order.nr" :order="order" :ui-labels="uiLabels" :lang="lang" :key="order.nr">
                    </tr>

                </tbody>

            </table>

            <div class="kitchenNavbar">
                <span class="inactive">&larr;</span>
                <span>Esc: <p>{{uiLabels.goBack}}</p> </span>
                <span>Enter: <p> {{ uiLabels.goToOrder }}</p></span>
                <span>&rarr;  <p>{{ uiLabels.goBack }}</p></span>
            </div>

        </div>


        <div v-if="showOrder">

            <h2>Order: {{orderBeingDisplayed.nr}}</h2>
            <br>
            <div v-if="!orderBeingDisplayed.done">
                <button v-on:click="markDone(orderBeingDisplayed.nr)">
            {{uiLabels.ready}}
            </button>
                <button v-on:click="sendCancel(orderBeingDisplayed.nr)">
            {{uiLabels.cancel}}
            </button>
            </div>
            <br>
            <h3>lägg till resten här</h3>
            <!-- Lägg till hur det ska se ut när en order är öppnad -->

            <div class="kitchenNavbar">
                <span class="inactive">&larr;</span>
                <span>Esc: <p>{{uiLabels.goBack}}</p> </span>
                <span>Enter: <p>lägg till i uilabels!</p></span>
                <span class="inactive">&rarr;</span>
            </div>

        </div>


    </div>

</body>

</html>
