/* iPad */

@media screen and (min-width: 451px), screen and (max-width: 999px) {

    body, #ordering{
        font-family: 'Cabin Sketch', cursive;
        background: #fff9bb;
        display: block;
        position: relative;
        margin-left: auto;
        margin-right: auto;
        overflow: hidden;
        min-height: 100vh;
        max-height: 100vh;
        max-width: 57em;
    }
    #ordering {
        font-size: 18pt;
        margin-top: 0px;
    }
    header{
        height: 2em;
        display: block;
        margin-left: auto;
        margin-right: auto;
    }
    
    footer {
        height: 10em;
        display: block;
        margin-left: auto;
        margin-right: auto;
    }

    #afterSize {
        margin-top: 2em;
        overflow: hidden;
    }

    h1 {
        color: #3a3e63;
        text-transform: uppercase;
        letter-spacing: 2pt;
        margin-top: 0px;
        margin-bottom: 0px;
    }

    #homepage,
    #sizepage {
        text-align: center;
        display: block;
    }
    #homepage img,
    #homepage button {
        display: block;
        margin-left: auto;
        margin-right: auto;
    }
    #lemonPic {
        width: 12.5em;
    }

    /*Det som burkarna ligger i */
    .sizeButtonsContainer {
        position: relative;
        display: inline-block;
        width: 30vw;
        max-width: 12.1em;
        height: 57vh;
        overflow: hidden;
    }
    .sizeButtonsContainer div {
        position: relative;
        margin-top: auto;
    }

    /* Burkhelvetet */
    .sizeButtonsContainer label {
        position: relative;
        width: inherit;
        height: 30vh;
    }

    #sizepage input {
        position: absolute;
        top: 1em;
        left: 0px;
        bottom: 0px;
        right: 0px;
        background-color: black;
        width: 100%;
        height: 4.5vh;
        /* min-height: 60px; */
        min-height: 4.4em;
        border-radius: 25px;
        border: solid black;
        z-index: 0;
    }
    #sizepage h2 {
        position: relative;
        color: white;
        top: 2vh;
        z-index: 1;
    }
    #sizepage p {
        position: relative;
        margin-top: 0em;
        margin-bottom: 0.7vh;
    }
    #smallBalloon {
        height: 10vh;
        display: block;
    }
    #mediumBalloon {
        height: 5vh;
        display: block;
    }
    #largeBalloon {
        height: 0vh;
        display: block;
    }
    #sizepage img {
        position: absolute;
        display: block;
    }
    #smalljar img {
        height: 30vh;
        width: 30vw;
        /* max-width: 300px; */
        max-width12.5em:;
        max-width: 12.5em;
    }
    #smalljar p {
        top: 8vh;
    }
    #mediumjar img {
        height: 35vh;
        width: 30vw;
        /* max-width: 300px; */
        max-width: 12.5em;
    }
    #mediumjar p {
        top: 13vh;
    }
    #largejar img {
        height: 40vh;
        width: 30vw;
        /* max-width: 300px; */
        max-width: 12.5em;
    }
    #largejar p {
        top: 18vh;
    }

    #afterSize .navButtons {
        top: -100px;
    }


    #afterSize .navButtons p{
        position: absolute;
        left: 3em;
    }

    .navButtons {
        position: relative;
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 100%;
        height: 70%;
        top: -0.5em;
    }
    .navButtons img {
            position: absolute;
    height: 6.3em;
    width: 11.7em;
    max-width: 12.6em;
    }
    .navButtons label {
        /* width: 250px; */
        width: 10.2em;
        /* margin-right: 50px; */
        margin-right: 2em;
    }
    .navButtons input {
        position: absolute;
        width: 0px;
        height: 0px;
        opacity: 0;
    }
    #back {
        float: left;
    }
    #forward {
        float: right;
    }
    #forward p {
        position: absolute;
        right: 6.5em;
        top: 1.2em;
    }
    #back p {
        position: absolute;
        left: 5em;
        top: 1.8em;
    }

    .navBar {
        position: absolute;
        display:flex;
        justify-content:space-between;
        width: 100%;
        margin-left: auto;
        margin-right: auto;
        max-width: inherit;
    }

    .navBar > button {
        /*CSS för navigation bar sätts här senare. exempel från egen idividuel lab */
        text-align: center;
        min-width: 18%;
        padding-top: 1em;
        padding-bottom: 1em;
        margin-top: 20px;
        margin-left: 0px;
        color: white;
        background-color: black;
        border-width: 2px;
        border-radius: 16px;
        font-size: 0.7em;

    }

    .navBar > .activePageButton {
        border-radius: 32px;
        background-color: #f5ba51;
    }

    button:disabled {
        opacity: 0.6;
    }

    .backButton {
        /*CSS för alla backknappar. Placeholder*/
        color: white;
        background-color: black;
        border: solid black;
        border-width: 4px;
        border-radius: 6px;
        margin: 4px;
    }

    .backButton1 {
        display: block;
        color: black;
        font-size: 1.1em;
        font-family: inherit;
        width: 30vw;
        background-color: #fff9bb;
        background-size: 40px;
        background-image: url(https://i.imgur.com/AkLpIrX.png);
        background-repeat: no-repeat;
        border: 1px;
        height: 190px;
        z-index: -1;
    }

    .nextButton {
        /*CSS för alla nextknappar. Placeholder*/
        position: relative;
        border-width: 8px;
        border-radius: 8px;
        color: white;
        background-color: black;
        border: solid black;
        left: 50%;

        /*float: right;*/
    }

    .nextButton1 {
        position: relative;
        top: -190px;
        text-align: color: black;
        font-family: inherit;
        font-size: 1.1em;
        background-color: #fff9bb;
        background-size: 200px;
        background-image: url(https://i.imgur.com/wLFxNy4.png);
        background-repeat: no-repeat;
        border: 1px;
        height: 190px;
        z-index: 0;
    }
    .allButtons {
        position: relative;
        margin: auto;
        background-color: black;
        color: white;
        font-size: 1.2em;
        text-align: center;
        border-radius: 25px;
        border: solid black;
    }
    #mobilePopup {
        width: 0px;
        height: 0px;
        visibility: hidden;
        position: absolute;
    }
    /* Help Popup */
    #sizepage .popup {
        position: relative;
        display: inline-block;
        min-width: 50px;
        margin-left: auto;
        float: right;
        top: 0px;
        width: auto;
        margin-top: 0.1em;
        margin-right: 0.1em;
        color: white;
        border: solid black;
        border-width: medium;
        background-color: black;
        text-align: center;
        border-radius: 6px;
        font-size: 2em;
    }

    .popup {
        position: relative;
        display: inline-block;
        min-width: 50px;
        float: right;
        width: auto;
        margin-top: 0.1em;
        margin-right: 0.1em;
        color: white;
        border: solid black;
        border-width: medium;
        background-color: black;
        text-align: center;
        border-radius: 6px;
        font-size: 2em;
    }

    /* Popup-rutan */
    .popup .popuptext {
        visibility: hidden;
        background-color: #555;
        color: #fff;
        min-width: 40%;
        width: auto;
        text-align: center;
        border-radius: 6px;
        padding: 8px 8px;
        top: 7%;
        right: 1%;
        margin-left: 50%;
        position: fixed;
        font-size: 0.7em;
        z-index: 10;
    }

    .popup .show {
        visibility: visible;
    }


    /*ingredienshejhå*/
    #afterSize input {
        position: absolute;
        opacity: 0;
    }
    .colorBoxJar {

        position: absolute;
        left: 20%;
        top: 200px;
        margin-right: 4px;
    }

    .ingredientSelection {
        position: relative;
        display: inline-block;
        width: 50vw;
        max-width: 50%;
        height: 75vh;
        overflow: hidden;
    }


    .yourOrder {
        background-position: left;
        background-color: #fff9bb;
        position: absolute;
        right: 0px;
        /*text-align: center;*/
        max-width: 50%;
        height: 50vh;
        margin-top: 5.2em;
        width: 50vw;
        background-repeat: no-repeat;
        display: inline-block;
    }

    #clipboard {
        width: 400px;
        position: absolute;
    }

    .clipboardText {
        position: relative;
        left: 75px;
        font-size: 1.1em;
    }

    .ingHeading {

        width: auto;
        position: relative;
        height: 10%;
        background-color: black;
        color: white;
        font-size: 1.5em;
        text-align: center;
        border-top-left-radius: 20px;
        border-top-right-radius: 20px;
        border: solid black;
    }

    .ingredientBlockHeadings label {
        display: inline-block;
        width: 25%;
        font-size: 1.4em;
        border: solid 10px;
        border-color: #9ab591;
    }

    .ingredientBlock {
        display: inline-block;
        vertical-align: top;
        margin: 0px;
        width: 85%;
    }

    .ingredientList {
        height: 13em;
        overflow: scroll;
        border: 20px solid #709663;
        margin-bottom: 5px;
        border-bottom-left-radius: 20px;
        border-bottom-right-radius: 20px;
        border-top-right-radius: 20px;
        width: 100%;
    }

    /* Själva lådorna som ingrediensknapparna ligger i */
    .ingred {
        border: 1px solid;
        padding: 0px;
        width: 100%;
        min-height: 3em;
        height: 3em;
        margin-bottom: 0px;
    }
    /* Ingrediensknapparna */
    .ingred label {

        height: 100%;
        width: 100%;
        display: block;
        position: relative;
        background-color: white;
    }

    .ingred p {
        text-align: center;
        color: black;
        margin: 0vh;
    }
}
