#ordering {
    margin: 0px;
    width: 80em;
}

#orders {
    margin: 0px;
    width: 80em;
}


body {
    background: #f2f9ff;
    color: #3a3e63;
    font-size: 90%;
}

h1 {
    color: #3a3e63;
    text-transform: uppercase;
    letter-spacing: 2pt;
}

.composingOrder {
    width: 60em;
    float: left;
    margin-right: 5em;
}

.yourOrder {
    width: 15em;
    float: right;
}

.sizeButtons label {
    border: 2px solid black;
    margin-bottom: 2px;
    min-height: 10em;
    height: 10em;
    min-width: 30em;
    width: 30em;
    display: block;
    text-align: center;
    vertical-align: 
    color: black;
    background-color: lavender;
}

.sizeButtons input {
    /* Osynlig input */
    opacity: 0;
    position: absolute;
}

.ingredientBlock {
    display: inline-block;
    vertical-align: top;
    margin: 0px;
    width 15em;
}

.ingredientList {

    max-height: 50vh;
    overflow: scroll;

}

.ingred {
    /* Själva lådorna som ingrediensknapparna ligger i */
    border: 1px solid #cdc;
    padding: 0px;
    min-width: 15em;
    width: 15em;
    min-height: 3em;
    height: 3em;
    margin-bottom: 0px;
}

.ingred label {
    /* Ingrediensknapparna */
    height: 100%;
    width: 100%;
    display: block;
    background-color: aliceblue;
}

.ingred input {
    /* Osynlig checkbox i ingrediensknapparna */
    opacity: 0;
    position: absolute;
}

.ingred p {
    /* Lite rörigt men det här var ett snabbt sätt att få knapparna att inte se orimliga ut */
    text-align: center;
    color: black;
    margin: 0vh;
}

table,
th,
td {
    border: 1px solid black;
    padding-left: 10px;
    padding-right: 10px;
}

tr:hover {
    background-color: #ffa;

}

.backButton {
    /*CSS för alla backknappar. Placeholder*/
    border-width: 4px;
    border-radius: 6px;
}

.nextButton {
    /*CSS för alla nextknappar. Placeholder*/
    border-width: 4px;
    border-radius: 6px;
    float: right;
}

.navBar {
    /*CSS för navigation bar sätts här senare.*/
}

.navBar > button {
    /*CSS för navigation bar sätts här senare. exempel från egen idividuel lab*/
    border-width: 4px;
    margin-top: 7px;
    border-radius: 6px;
}

.activePageButton {
    background-color: lightcoral;
}


#sliderPic{
  /*background-image:url(http://moziru.com/images/jar-clipart-8.png);*/
  background-repeat: no-repeat;
  background-position: center;
  height:400px;
  position:relative;
  z-index: 0;

}



#slider-color{
  left: 45px;
  height:280px;
  width: 180px;
  position:absolute;
  top:230px;
  z-index:1;
  }

.c-1-color { background: red; }
.c-2-color { background: yellow; }
.c-3-color { background: green; }
.c-4-color { background: blue; }
.c-5-color { background: purple; }

