body {
	background: #efe;
	color: #353;
}

h1 {
	color: #670;
	text-transform: uppercase;
	letter-spacing: 2pt;
}

#ordering {
	margin:auto;
	width: 40em;
}

#orders {
	margin:auto;
	width: 40em;
}

.ingred { /* Vi döljer checkboxarna senare.  */
	border: 1px solid #cdc;
	padding: 0px;
    margin: 2px;
}

.ingred label {
    height: 5vh;
    display: block;
}

table, th, td {
    border: 1px solid black;
    padding-left: 10px;
    padding-right: 10px;
}

tr:hover{
     background-color: #ffa;
    
}

.backButton {
    /*CSS för alla backknappar. Placeholder*/
    border-width: 4px;
    border-radius: 6px;
}

.nextButton {
    /*CSS för alla nextknappar. Placeholder*/
    border-width: 4px;
    border-radius: 6px;
    float: right;
}

.navBar {
    /*CSS för navigation bar sätts här senare.*/
}
    
.navBar > button {
    /*CSS för navigation bar sätts här senare. exempel från egen idividuel lab*/
    border-width: 4px;
    margin-top: 7px;
    border-radius: 6px;
}
.activePageButton {
    background-color: lightcoral;
}

.c-1-color { background: red; }
.c-2-color { background: yellow; }
.c-3-color { background: green; }
.c-4-color { background: blue; }
.c-5-color { background: purple; }